html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 1px dotted red;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*====================MY CODE BELOW======================================*/

#wrapper {
	background-color: lightblue;
	margin: 0 auto;
	max-width: 700px;
	min-height: 500px;
}
	#top {
		background-color: red;
		height: 230px;
	}
	#mid {
		background-color: #eaeaea;
		height: 280px;
	}
		#mid h2 {

		}
		#mid p {

		}
		.mleft {
			/*background-color: green;*/
			width:470px;
			height: 279px;
			display: inline-block;
			vertical-align: top;
			padding-top: 15px;
		}
			.mtopleft {
				/*background-color: blue;*/
				min-width:460px;
				height: 110px;
			}
				.mtopleft img {
					width: 20px;
					height: 20px;
					display: inline-block;
					vertical-align: top;
				}
				.mtopleft h2 {
					display: inline-block;
					vertical-align: top;
					font-size: 15px;
					margin-top: 2px;
					font-weight: bolder;
				}
				.mtopleft p {
					font-size: 10px;
					margin-top: 15px;
				}
				.safe {
					/*background-color: green;*/
					width:137px;
					height: 95px;
					display: inline-block;
					vertical-align: top;
					border-right: 1px solid gray;
				}
				.eco {
					/*background-color: yellow;*/
					width:137px;
					height: 95px;
					display: inline-block;
					vertical-align: top;
					border-right: 1px solid gray;
					margin-left: 2px;
				}
				.help {
					/*background-color: orange;*/
					width:137px;
					height: 95px;
					display: inline-block;
					vertical-align: top;
					border-right: 1px solid gray;
					margin-left: 2px;
				}
			.mbottomleft {
				background-color: yellow;
				width:430px;
				height: 95px;
			}
		.mright {
			background-color: blue;
			width: 223px;
			height: 279px;
			display: inline-block;
			vertical-align: top;
		}
			.waste {
				background-color: yellow;
				width:120px;
				height: 279px;
				display: inline-block;
				vertical-align: top
			}
	#low {
		background-color: purple;
		height: 186px;

	}










































